[Desktop Entry]
Encoding=UTF-8
Name=Link to The Distrib March 2019 Archive by thread
Type=Link
URL=http://lists.cslab.ece.ntua.gr/pipermail/distrib/2019-March/thread.html
Icon=text-html
